[Desktop Entry]
Name=ScaleUP
Comment=ScaleUP local app
Exec=/usr/local/bin/scaleup-ui
Icon=scaleup
Type=Application
Terminal=false
Categories=Utility;
